<a href="https://colab.research.google.com/github/ddaddaradda/BigData_practice/blob/main/part02_day2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tip

In [61]:
import sklearn

In [62]:
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', '_loss', 'base', 'clone', 'config_context', 'decomposition', 'exceptions', 'externals', 'get_config', 'linear_model', 'logger', 'logging', 'metrics', 'model_selection', 'neighbors', 'os', 'preprocessing', 'random', 'set_config', 'setup_module', 'show_versions', 'svm', 'sys', 'tree', 'utils']

In [63]:
import sklearn.preprocessing

In [64]:
dir(sklearn.preprocessing)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'SplineTransformer',
 'StandardScaler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 '_polynomial',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']

# Part 3

## 데이터 분석 연습하기

In [65]:
import pandas as pd

In [67]:
x_test_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/x_test.csv'
x_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/x_train.csv'
y_train_url= 'https://raw.githubusercontent.com/7ieon/bigData/main/y_train.csv'

x_train = pd.read_csv(x_train_url, encoding = 'CP949')
x_test = pd.read_csv(x_test_url, encoding = 'CP949')
y_train = pd.read_csv(y_train_url, encoding = 'CP949')

In [68]:
x_train

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [69]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [70]:
y_train

      cust_id  gender
0           0       0
1           1       0
2           2       1
3           3       1
4           4       0
...       ...     ...
3495     3495       1
3496     3496       1
3497     3497       0
3498     3498       0
3499     3499       0

[3500 rows x 2 columns]

In [71]:
x_train_cust_id = x_train['cust_id']
x_test_cust_id = x_test['cust_id']

In [72]:
x_train = x_train.drop(columns = 'cust_id')
x_test = x_test.drop(columns = 'cust_id')
y_train = y_train.drop(columns = 'cust_id')

In [73]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

In [74]:
import sklearn.preprocessing

In [75]:
dir(sklearn.preprocessing)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'SplineTransformer',
 'StandardScaler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 '_polynomial',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']

In [76]:
from sklearn.preprocessing import LabelEncoder

In [77]:
encoder = LabelEncoder()

In [78]:
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])


x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

In [79]:
x_train.loc[x_train['환불금액'] > 0, '환불금액_new'] = 1
x_train.loc[x_train['환불금액'] == 0, '환불금액_new'] = 0
x_train = x_train.drop(columns = ['환불금액'])

x_test.loc[x_test['환불금액'] > 0, '환불금액_new'] = 1
x_test.loc[x_test['환불금액'] == 0, '환불금액_new'] = 0
x_test = x_test.drop(columns = ['환불금액'])

In [80]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)

x_test = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)

In [81]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth = 10, criterion = 'entropy', random_state = 10)
model.fit(x_train, y_train)

y_test_predicted = model.predict(x_test)

In [82]:
y_test_predicted

array([0, 0, 0, ..., 1, 1, 0])

In [83]:
y_test_proba = model.predict_proba(x_test)

In [84]:
y_test_proba

array([[0.69491525, 0.30508475],
       [1.        , 0.        ],
       [1.        , 0.        ],
       ...,
       [0.        , 1.        ],
       [0.46078431, 0.53921569],
       [0.55      , 0.45      ]])

In [85]:
result = pd.DataFrame(y_test_proba)[1]

In [86]:
y_train_predicted = model.predict(x_train)

from sklearn.metrics import roc_auc_score

roc_auc_score(y_train, y_train_predicted)

0.7244174265450861

In [87]:
pd.concat([x_test_cust_id, result], axis =1)

      cust_id         1
0        3500  0.305085
1        3501  0.000000
2        3502  0.000000
3        3503  0.539216
4        3504  1.000000
...       ...       ...
2477     5977  1.000000
2478     5978  0.524051
2479     5979  1.000000
2480     5980  0.539216
2481     5981  0.450000

[2482 rows x 2 columns]

In [88]:
pd.concat([x_test_cust_id, result], axis =1).rename(columns = {1: 'gender'})

      cust_id    gender
0        3500  0.305085
1        3501  0.000000
2        3502  0.000000
3        3503  0.539216
4        3504  1.000000
...       ...       ...
2477     5977  1.000000
2478     5978  0.524051
2479     5979  1.000000
2480     5980  0.539216
2481     5981  0.450000

[2482 rows x 2 columns]

In [89]:
final = pd.concat([x_test_cust_id, result], axis =1).rename(columns = {1: 'gender'})

In [91]:
final.to_csv('12345.csv', index = False)

### 정리

In [95]:
# 라이브러리와 파일읽기
import pandas as pd

x_test_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/x_test.csv'
x_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/x_train.csv'
y_train_url= 'https://raw.githubusercontent.com/7ieon/bigData/main/y_train.csv'

x_train = pd.read_csv(x_train_url, encoding = 'CP949')
x_test = pd.read_csv(x_test_url, encoding = 'CP949')
y_train = pd.read_csv(y_train_url, encoding = 'CP949')

# 테스트 데이터의 cust_id 저장하기
x_test_cust_id = x_test['cust_id']

# cust_id 칼럼 삭제하기
x_train = x_train.drop(columns = ['cust_id'])
y_train = y_train.drop(columns = ['cust_id'])
x_test = x_test.drop(columns = ['cust_id'])

# 결측치 처리하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 라벨인코딩 수행하기
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

# 파생변수 만들기
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
x_train = x_train.drop(columns = ['환불금액'])

x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns = ['환불금액'])

# 데이터 스케일링 : 표준화 크기로 변환하기
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)

# 불필요한 칼럼삭제하기
x_train = x_train.drop(columns = ['최대구매액'])
x_test = x_test.drop(columns = ['최대구매액'])

# 학습용/검증용 데이터로 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state =10)

# 모델 학습 및 평가하기
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth = 10, criterion = 'entropy', random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_proba = model.predict_proba(x_test)

# 결과 제출하기
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id, result], axis = 1).rename(columns = {1:'gender'})
final.to_csv('123.csv', index = False)