<a href="https://colab.research.google.com/github/ddaddaradda/BigData_practice/blob/main/part02_day2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 데이터 탐색하기

In [30]:
import pandas as pd

x_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/bike_x_train.csv'
x_test_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/bike_x_test.csv'
y_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/bike_y_train.csv'

x_train = pd.read_csv(x_train_url, encoding = 'CP949')
y_train = pd.read_csv(y_train_url, encoding = 'CP949')
x_test = pd.read_csv(x_test_url, encoding = 'CP949')

In [31]:
x_train

               datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0       2011-01-01 0:00   1    0    0   1   9.84  14.395  81   0.0000
1       2011-01-01 1:00   1    0    0   1   9.02  13.635  80   0.0000
2       2011-01-01 2:00   1    0    0   1   9.02  13.635  80   0.0000
3       2011-01-01 3:00   1    0    0   1   9.84  14.395  75   0.0000
4       2011-01-01 4:00   1    0    0   1   9.84  14.395  75   0.0000
...                 ...  ..  ...  ...  ..    ...     ...  ..      ...
10881  2012-12-19 19:00   4    0    1   1  15.58  19.695  50  26.0027
10882  2012-12-19 20:00   4    0    1   1  14.76  17.425  57  15.0013
10883  2012-12-19 21:00   4    0    1   1  13.94  15.910  61  15.0013
10884  2012-12-19 22:00   4    0    1   1  13.94  17.425  61   6.0032
10885  2012-12-19 23:00   4    0    1   1  13.12  16.665  66   8.9981

[10886 rows x 9 columns]

In [32]:
y_train

              癤풼atetime  count
0       2011-01-01 0:00     16
1       2011-01-01 1:00     40
2       2011-01-01 2:00     32
3       2011-01-01 3:00     13
4       2011-01-01 4:00      1
...                 ...    ...
10881  2012-12-19 19:00    336
10882  2012-12-19 20:00    241
10883  2012-12-19 21:00    168
10884  2012-12-19 22:00    129
10885  2012-12-19 23:00     88

[10886 rows x 2 columns]

In [33]:
y_train.columns = ['datetime','count']

In [34]:
y_train

               datetime  count
0       2011-01-01 0:00     16
1       2011-01-01 1:00     40
2       2011-01-01 2:00     32
3       2011-01-01 3:00     13
4       2011-01-01 4:00      1
...                 ...    ...
10881  2012-12-19 19:00    336
10882  2012-12-19 20:00    241
10883  2012-12-19 21:00    168
10884  2012-12-19 22:00    129
10885  2012-12-19 23:00     88

[10886 rows x 2 columns]

In [35]:
x_test

              datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0      2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1      2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2      2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
3      2011-01-20 3:00   1    0    1   1  10.66  12.880  56  11.0014
4      2011-01-20 4:00   1    0    1   1  10.66  12.880  56  11.0014
...                ...  ..  ...  ...  ..    ...     ...  ..      ...
6488  2012-12-31 19:00   1    0    1   2  10.66  12.880  60  11.0014
6489  2012-12-31 20:00   1    0    1   2  10.66  12.880  60  11.0014
6490  2012-12-31 21:00   1    0    1   1  10.66  12.880  60  11.0014
6491  2012-12-31 22:00   1    0    1   1  10.66  13.635  56   8.9981
6492  2012-12-31 23:00   1    0    1   1  10.66  13.635  65   8.9981

[6493 rows x 9 columns]

In [36]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB

In [37]:
data = pd.concat([x_train,y_train], axis = 1)

In [38]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [39]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [40]:
print(data.groupby(['근무일'])['count'].sum())

근무일
0     654872
1    1430604
Name: count, dtype: int64

In [41]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

## 2. 전처리하기

In [42]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])
x_train['year'] = x_train['datetime'].dt.year
x_train['month'] = x_train['datetime'].dt.month
x_train['day'] = x_train['datetime'].dt.day
x_train['hour'] = x_train['datetime'].dt.hour
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
data2 = pd.concat([x_train,y_train], axis = 1)

In [43]:
x_train = x_train.drop(columns=['dayofweek', 'day', 'month'])

In [44]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['hour'] = x_test['datetime'].dt.hour

In [45]:
x_test_date_time = x_test['datetime']

In [46]:
x_train = x_train.drop(columns=['datetime'])
x_test = x_test.drop(columns=['datetime'])
y_train = y_train.drop(columns=['datetime'])

## 3. 학습하고 평가하기

In [47]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, T_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

In [48]:
from xgboost import XGBRegressor

In [49]:
model = XGBRegressor(n_estimators = 200, max_depth = 5)
model.fit(X_TRAIN, Y_TRAIN)

[17:39:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(max_depth=5, n_estimators=200)

In [53]:
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:'count'})

In [55]:
y_test_predicted[y_test_predicted['count']<0] = 0

In [56]:
final = pd.DataFrame(y_test_predicted)