<a href="https://colab.research.google.com/github/ddaddaradda/BigData_practice/blob/main/part02_day2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 데이터 탐색하기

In [57]:
import pandas as pd

In [58]:
x_test_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_x_test.csv'
x_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_x_train.csv'
y_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_y_train.csv'

x_test = pd.read_csv(x_test_url, encoding = 'CP949')
x_train = pd.read_csv(x_train_url, encoding = 'CP949')
y_train = pd.read_csv(y_train_url, encoding = 'CP949')

In [59]:
x_train.head(1)

,PassengerId,티켓등급,승객이름,성별,나이,형제자매배우자수,부모자식수,티켓번호,운임요금,객실번호,선착장
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [60]:
y_train

     癤풮assengerId  Survived
0               1         0
1               2         1
2               3         1
3               4         1
4               5         0
..            ...       ...
886           887         0
887           888         1
888           889         0
889           890         1
890           891         0

[891 rows x 2 columns]

In [61]:
 y_train.columns = ['PassengerId',	'Survived']

In [62]:
y_train

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [63]:
# 각 데이터 세트의 행과 열의 개수 확인하기
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(891, 11)
(891, 2)
(418, 11)

In [64]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [65]:
data = pd.concat([x_train,y_train], axis = 1)

In [66]:
print(data.groupby(['성별'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [67]:
print(data.groupby(['티켓등급'])['Survived'].mean())

티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [68]:
print(data.groupby(['선착장'])['Survived'].mean())

선착장
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

## 2. 전처리하기

In [69]:
# 태스트 데이터의 PassengerId 값은 x_test_passenger_id 변수에 저장
x_test_passenger_id = x_test['PassengerId']

In [72]:
# PassengerId 칼럼 삭제
x_train = x_train.drop(columns = ['PassengerId'])
x_test = x_test.drop(columns = ['PassengerId'])
y_train = y_train.drop(columns = ['PassengerId'])

# 학습 데이터와 테스트 데이터에서 '티켓번호'칼럼 삭제
x_train = x_train.drop(columns = ['티켓번호'])
x_test = x_test.drop(columns = ['티켓번호'])

# 학습 데이터와 테스트 데이터에서 '승객이름'칼럼 삭제
x_train = x_train.drop(columns = ['승객이름'])
x_test = x_test.drop(columns = ['승객이름'])

In [77]:
# 나이, 객실번호, 선착장 칼럼의 중복제외한 값 개수 세기
print(x_train['나이'].isnull().sum())
print(x_train['객실번호'].isnull().sum())
print(x_train['선착장'].isnull().sum())

177
687
2

In [79]:
# '나이'와 'Survived'칼럼 간의 상관관계를 확인하기
print(data[['나이','Survived']].corr())

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [80]:
# '나이'칼럼 삭제
x_train = x_train.drop(columns = ['나이'])
x_test = x_test.drop(columns = ['나이'])

In [83]:
# x_train의 '객실번호'값에서 중복을 제외한 값의 개수 세기
print(x_train['객실번호'].unique().size)

148

In [84]:
# 객실번호 칼럼 삭제
x_train = x_train.drop(columns = ['객실번호'])
x_test = x_test.drop(columns = ['객실번호'])

In [85]:
# 선착장 칼럼별로 값의 개수를 세기
print(x_train.groupby(['선착장'])['선착장'].count())

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

In [86]:
# x_train의 선착장 칼럼 결측치 S값으로 적용
x_train['선착장'] = x_train['선착장'].fillna('S') 

print(x_train['선착장'].isnull().sum())

0

In [87]:
# x_test의 선착장 칼럼에 결측치가 있는지 다시 확인
print(x_test['선착장'].isnull().sum())

0

In [92]:
# 성별 인코딩
x_train['성별']  = x_train['성별'].replace('male',0).replace('female',1)
x_test['성별']  = x_test['성별'].replace('male',0).replace('female',1)

In [93]:
# x_train의 선착장 칼럼에 대한 원핫 인코딩을 수행한 후 선착장_dummy에 저장하기
선착장_dummy = pd.get_dummies(x_train['선착장'], drop_first= True).rename(columns = {'Q':'선착장Q','S':'선착장S'})

# 기존 x_train의 우측에 선착장_dummy 변수를 덧붙이기
x_train = pd.concat([x_train,선착장_dummy], axis = 1)

In [94]:
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장  선착장Q  선착장S
0     3   0         1      0   7.2500   S     0     1
1     1   1         1      0  71.2833   C     0     0
2     3   1         0      0   7.9250   S     0     1
3     1   1         1      0  53.1000   S     0     1
4     3   0         0      0   8.0500   S     0     1

In [96]:
# 학습 데이터에서 선착장 칼럼 삭제하기
x_train = x_train.drop(columns = ['선착장'])

In [97]:
# x_test 선착장 칼럼에 대한 원핫 인코딩을 수행한 후 선착장_dummy에 저장하기
선착장_dummy = pd.get_dummies(x_test['선착장'], drop_first= True).rename(columns = {'Q':'선착장Q','S':'선착장S'})

# 기존 x_test 우측에 선착장_dummy 변수를 덧붙이기
x_test = pd.concat([x_test,선착장_dummy], axis = 1)

x_test = x_test.drop(columns = ['선착장'])

In [98]:
# 형제자매배우자수 와 부모자식수 칼럼을 더하여 가족수 라는 컬럼 만들기
x_train['가족수'] = x_train['형제자매배우자수'] + x_train['부모자식수']
x_train = x_train.drop(columns = ['형제자매배우자수','부모자식수']) 

x_test['가족수'] = x_test['형제자매배우자수'] + x_test['부모자식수']
x_test = x_test.drop(columns = ['형제자매배우자수','부모자식수'])

## 3. 학습하고 평가하기

In [100]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train,y_train, test_size = 0.2, random_state = 10)

print(X_TRAIN.shape)
print(X_TEST.shape)
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(712, 6)
(179, 6)
(712, 1)
(179, 1)

In [106]:
from xgboost import XGBClassifier

In [108]:
model = XGBClassifier(eval_metric = 'error', random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(eval_metric='error', random_state=10)

In [109]:
model = XGBClassifier(n_estimators = 100, max_depth = 5, eval_metric = 'error', random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(eval_metric='error', max_depth=5, random_state=10)

In [110]:
# 학습이 완료된 모델을 통해 y_test 값을 예측하기 : 최종 결과 제출용
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:'Survived'})

# y_test_predicted 값 확인하기
print(pd.DataFrame(y_test_predicted).head(10))

   Survived
0         0
1         0
2         0
3         0
4         1
5         0
6         1
7         0
8         1
9         0

In [111]:
# 학습이 완료된 모델을 통해 Y_TEST값을 예측하기 : 평가지표 계산용
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST))

In [112]:
from sklearn.metrics import roc_auc_score

In [113]:
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))

0.7950096498483595

## 4. 결과 제출하기

In [114]:
# x_test_passenger_id 변수와 y_test_predicted 변수를 세로 방향으로 붙이기
print(pd.concat([x_test_passenger_id,y_test_predicted], axis = 1))

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [115]:
final = pd.concat([x_test_passenger_id,y_test_predicted], axis = 1)

final.to_csv('12345.csv', index = False)

## 한 번에

In [122]:
# 데이터 가져오기
x_test_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_x_test.csv'
x_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_x_train.csv'
y_train_url = 'https://raw.githubusercontent.com/7ieon/bigData/main/titanic_y_train.csv'

x_test = pd.read_csv(x_test_url, encoding = 'CP949')
x_train = pd.read_csv(x_train_url, encoding = 'CP949')
y_train = pd.read_csv(y_train_url, encoding = 'utf-8')

# 전처리하기
x_test_passenger_id = x_test['PassengerId']
x_train = x_train.drop(columns = ['PassengerId'])
y_train = y_train.drop(columns = ['PassengerId'])
x_test = x_test.drop(columns = ['PassengerId'])

x_train = x_train.drop(columns = ['티켓번호'])
x_test = x_test.drop(columns = ['티켓번호'])

x_train = x_train.drop(columns = ['승객이름'])
x_test = x_test.drop(columns = ['승객이름'])

x_train = x_train.drop(columns = ['나이'])
x_test = x_test.drop(columns = ['나이'])

x_train = x_train.drop(columns = ['객실번호'])
x_test = x_test.drop(columns = ['객실번호'])

# 결측치 처리하기
x_train['선착장'] = x_train['선착장'].fillna('S')
x_test['선착장'] = x_test['선착장'].fillna('S')

# 인코딩 수행하기
x_train['성별'] = x_train['성별'].replace('male', 0).replace('female', 1)
x_test['성별'] = x_test['성별'].replace('male', 0).replace('female', 1)
선착장_dummy = pd.get_dummies(x_train['선착장'], drop_first = True).rename(columns = {'Q':'선착장Q','S':'선착장S'})

x_train = pd.concat([x_train,선착장_dummy], axis = 1)
x_train = x_train.drop(columns = ['선착장'])

선착장_dummy = pd.get_dummies(x_test['선착장'], drop_first = True).rename(columns = {'Q':'선착장Q','S':'선착장S'})

x_test = pd.concat([x_test,선착장_dummy], axis = 1)
x_test = x_test.drop(columns = ['선착장'])

# 파생변수 만들기
x_train['가족수'] =  x_train['형제자매배우자수'] + x_train['부모자식수']
x_train = x_train.drop(columns = ['형제자매배우자수', '부모자식수'])
x_test['가족수'] =  x_test['형제자매배우자수'] + x_test['부모자식수']
x_test = x_test.drop(columns = ['형제자매배우자수', '부모자식수'])

# 데이터 분리하기 
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train,y_train, test_size = 0.2, random_state = 10)

# 모델 학습하기
from xgboost import XGBClassifier
model = XGBClassifier(n_estimators=100, max_depth=5, eval_metric= 'error')
model.fit(X_TRAIN, Y_TRAIN)

# 최종결과를 파일로 저장하기
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:'Survived'})

final = pd.concat([x_test_passenger_id, y_test_predicted], axis = 1)
final.to_csv('12345.csv', index = False)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)